.form_container{
    left: 40%;
    position: absolute;
    width: 1000px;
}
.form_buttons{
    max-width:180px;
    display:flex;
    justify-content: space-between;
    margin-top:5px;

}
.form_form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:50px;
    max-width:23%;

}